extends ../_main-template
block content
	section.section.hero
		.hero__bg
			img(src="../img/bg/Mountain.jpg" alt="").hero__bg-img


		ul.socials
			each item in ['vk','gh','ln']
				li.socials__item
					a(href='#' class="socials__link socials__link_")= item

		a(href="#").hamburger

		a(href="#").down-arrow
			img(src='../img/down-arrow.svg').down-arrow__icon

		.hero__title
			img(src='../img/bg/port.png' alt='').section-title
			.user.hero__user-block
				.user__photo
					.user__photo-avatar
						img(src="../img/user.png" alt="").user__photo-img
				.user__name Tony Robbins
				.user__desc Front-end developer
	section.section.about
		.about__left
			svg(
			viewBox="0 0 1000 100"
			preserveAspectRatio="none"
			class="triangle triangle_fill_white about__triangles")
				polygon(points="0,0 0,100 1000,100")
			.title.about__section-title
				| Обо мне
			.user-about
				.user-about__picture
				.user-about__title
					.subtitle
						| Кто я
				.user-about__text
					p Я программист из Новоросийска. Мне 32 года! Я занимаюсь веб рахработкой
		.about__right
			svg(
			viewBox="0 0 1000 100"
			preserveAspectRatio="none"
			class="triangle triangle_fill_beige about__triangles")
				polygon(points="0,100 1000,100 1000,0")
			.about-data
				.about-data__description.about-user-info
					.about-user-info__title
						.subtitle Чем я могу быть полезен
					.about-user-info__text
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, quisquam?
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, quisquam?
					.about-data__content
						ul.skills
							each skill in skills
								each skillsArray, skillName in skill
									li.skills__item
										.skill-section
											.skill-section__title= skillName
											ul.skill-section__list
												each skillTitle in skillsArray
													li.skills-section__item
														.skill
															svg.skill__circle
															.skill__name= skillTitle
	section.section.map

